* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  overflow-x: hidden;
}

//Global Color Variables
$primary-color: #e50914;

//Start Header
#main-header {
  position: relative;
  width: 100%;
  height: 41.7rem;
  padding: 2%;
  background-image: linear-gradient(
      0deg,
      rgba(11, 11, 11, 1),
      rgba(0, 0, 0, 0.397),
      rgb(0, 0, 0)
    ),
    url("img/background.jpg");
  background-size: cover;
  div {
    div {
      a {
        height: 2.5rem !important;
        width: 7rem !important;
        border-radius: 0.3rem !important;
        i {
          font-size: 0.9rem !important;
        }
      }
      button {
        background-color: $primary-color !important;
        font-size: 1rem !important;
        font-weight: 500 !important;
        border-radius: 0.3rem !important;
      }
      img {
        width: 10rem !important;
      }
    }
  }
}
// End Header

//Content in Header Start
.content-header {
  width: 100%;
  position: absolute;
  top: 14rem;
  right: 0rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-weight: bold;
  }
  h1,
  h4,
  h6 {
    line-height: 1.4 !important;
  }
  h6 {
    font-size: 1.2rem;
  }
}
//Content in Header End

//input Email Start
.input-email {
  //width: 45rem !important;
  margin: 0 140px !important;
  width: 90% !important;
  max-width: 700px;
  input {
    border: none !important;
    border-radius: 0 !important;
    padding: 1.2rem !important;
  }
  button {
    font-size: 1.3rem !important;
    line-height: 1.1 !important;
    border-radius: 0 !important;
    padding: 1.2rem !important;
    height: 4rem !important;
    width: 12rem !important;
    background-color: #e10712 !important;
  }
  button:hover {
    background-color: #f3020e !important;
  }
}
//input Email End

//Sections Start
.text-content {
  h1,
  h3 {
    line-height: 1.4 !important;
  }
}

//Sections End

// A Collapsible Start
.collapsible {
  background-color: #303030;
  color: #fff;
  cursor: pointer;
  padding: 1.1rem;
  width: 60%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.8rem;
}

// A Collapsible End

//Footer Start

.footer-links {
  div {
    a {
      text-decoration: none !important;
      color: #737373 !important;
      font-size: 0.9rem !important;
      margin-top: 1rem !important;
    }
  }
}

.footer-a {
  text-decoration: none !important;
  color: #737373 !important;
  font-size: 0.9rem !important;
  margin-top: 1rem !important;
}

.footer-links {
  div {
    a:hover {
      text-decoration: underline !important;
    }
  }
}

.last-link {
  //width: 60% !important;
  border-radius: 0 !important;
  padding: 1rem !important;
}
//Footer End

//----------------------------------------------------------------------------------------//
//Sign in Page
//----------------------------------------------------------------------------------------//

//Form Start

#signin-header {
  position: relative;
  width: 100%;
  padding: 2%;
  background-image: linear-gradient(
      0deg,
      rgba(11, 11, 11, 1),
      rgba(0, 0, 0, 0.397),
      rgb(0, 0, 0)
    ),
    url("img/background2.jpg");
  background-size: cover;
  div {
    div {
      a {
        height: 2.5rem !important;
        width: 7rem !important;
        border-radius: 0.3rem !important;
        i {
          font-size: 0.9rem !important;
        }
      }
      button {
        background-color: $primary-color !important;
        font-size: 1rem !important;
        font-weight: 500 !important;
        border-radius: 0.3rem !important;
      }
      img {
        width: 10rem !important;
      }
    }
  }
}

.my-form {
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  input {
    background-color: #333333;
    color: white;
    border: 0;
    padding: 1rem !important;
  }
  div {
    font-size: 0.85rem !important;
    color: #737373 !important;
    button {
      background-color: #e10712 !important;
    }
  }
}

.sign-up {
  text-decoration: none;
  font-size: 1.1rem !important;
}

.sign-up:hover {
  text-decoration: underline;
}
//Form End
